.jumbotron {
  margin-top: 100px;
  margin-bottom: 15px;
  text-align: center;
}

#quoteHolder {
  display: none;
}

body {
  background-color: black;
}

h1 {
  font-size: 2.4em;
}

.btn:focus {
  box-shadow: none;
}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.card-deck {
  position: relative;
  width:auto;
}
